<div class="row">
    <div  class="col-md-12">
        <div class="text-center">
            <h2 id="heading">Edit</h2>

        </div>
        <form [formGroup]="creatorForm">
            
        
        <div class="example-container">
        
              
  
                  <mat-label id="nameLabel">Full Name</mat-label>
                  <mat-form-field class="fullname" appearance = "outline" class="newsTitle1" >
                      <input matInput placeholder="" id="fullname" name="fullname" [(ngModel)]="data.selectRow.fullname" formControlName="fullname">
                  </mat-form-field>
              
              
              
              <mat-label id="emailLabel">Email</mat-label>
              <mat-form-field class="email" appearance = "outline">
                  <input matInput placeholder="" id="email" name="email" [(ngModel)]="data.selectRow.email" formControlName="email">
          </mat-form-field>
          
          
          <mat-form-field class="role">
              <mat-label id="roleLabel">Role</mat-label>
              <mat-select (selectionChange)="changeData($event.value)" [(ngModel)]="data.selectRow.role" formControlName="role">
                  <mat-option *ngFor="let item of items" [value]="item.value">
                      {{item.role}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
          
        <div class = "image1">
            <label id="insert">Insert Image</label>
                <input #myInput type = 'file'  multiple  (change) = "onSelectFile($event)" class="image" formControlName="image">
            <div *ngIf="imageSrc">
           <span class="glyphicon glyphicon-remove" (click)="removeImage()">
           </span> 
        <img [src]="imageSrc" width="150px" class="carousel">                    
        </div>
        </div>

                  
       <button mat-raised-button type="submit" (click)= "all()" class = "button button2" >Save</button>
        
        <button mat-raised-button  (click)="onClose()" class="closeButton">
    Close
  </button>
      </form>
  
      
  </div>
  </div>