<div class="row">
    <div  class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="text-center">
        <h2 id="heading">Reset Password</h2>
    </div>
    <div class = "form-group1">
                            
        <label id = "Email">Email</label>
        <mat-form-field appearance = "outline" class = "example-input1">
            <input  matInput type="text" placeholder = "" formControlName="email">
          
        </mat-form-field>
    </div>


    <div class = "form-group2">
        <label id = "Password">Password</label>
<mat-form-field appearance = "outline" class = "example-input2">
<input  matInput   placeholder = "" id="password" formControlName="password">
</mat-form-field>
</div>
<button mat-raised-button  type="submit" (click)="all()"  class = "button button2" >Reset</button>
</form>
</div>
</div>
