.button2{
    position: absolute;;
    left:40%;
    top:280px;
    background-color:#153d77;
    color:white;
}
.form-group1{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.form-group2{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}
#heading{
font-weight: bolder;
}
#Email{
    position: absolute;
    top:80px;
    left:9%;
    font-weight: bold;
}
.example-input1{
    position: absolute;
    right:20%;
    

}
#Password{
    position: absolute;
    top:200px;
    left:9%;
    font-weight: bold;
}
.example-input2{
    position: absolute;
    right:20%;
    top:180px;
    padding-bottom: 50px;  
}