@import 'src/styles.scss';

// :host {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: whitesmoke;
// }

:host(.handset) {
  padding-left: $app-margin;
  padding-right: $app-margin;
}

mat-card-content.mat-card-content {
  display: flex;
}

mat-card-content.mat-card-content mat-form-field.mat-form-field {
   flex-grow: 1;
}

mat-card-content.mat-card-content.handset {
  flex-direction: column;
}
